#slide{
    background: $gray-dark;
    color: $blue-light;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #ipAddressStatus{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        min-height: 15vh;
        font-size: 2.5rem;
        font-weight: 700;
    }
    #ipAddressSecondaryMinStatus{
        min-height: 35vh;
    }
    #ipAddressSecondaryFullStatus{
        min-height: 70vh;
    }
    #about{
        padding: 4rem 0 1rem  0;
        min-height: 30vh;
    }
}
@media (min-width: 800px) and (min-height: 500px){
    #slide{
        min-height: 100vh;
        max-height: 100vh;
        width: 100%;
        #ipAddressSecondaryMinStatus{
            display: none;
            max-height: 35vh;
        }
        #ipAddressSecondaryFullStatus{
            padding: 2rem 0 8rem  0;
            min-height: 0vh;
            max-height: 55vh;
            .strong{
                display: none;
            }
        }
        #about{
            max-height: 30vh;
            padding: 2rem 0 3rem  0;
        }
    }
}